<h1 class="contacts-title">Контакты</h1>

<ul class="contacts-list">
    {% for contact in contacts %}
        <li class="contact-item">
            <a href="{% url 'contacts_detail' contact.pk %}" class="contact-link">
                {{ contact.last_name }} {{ contact.first_name }}
            </a>
        </li>
    {% empty %}
        <li class="contact-item empty">Контактов пока нет</li>
    {% endfor %}
</ul>

<a href="{% url 'contact_add' %}" class="add-contact-btn">Добавить новый контакт</a>
